body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: rgb(70, 70, 202);
}

p {
    color: gray;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
